<% content_for :title, 'Create an Account' %>
<% content_for :meta_description, 'Connect your Instagram account and pick a picture to send. We\'ll handle the rest.' %>

<div class="fluid-container bg-primary vh-100">
  <!-- Header nav with back button -->
  <nav class="navbar fixed-top navbar-light">
    <a class="navbar-brand" href="/">
      <span class="iconify" data-icon="ion:arrow-back" data-inline="false"></span>
    </a>
  </nav>

  <div class="container skinny-container">
    <div class="py-5 text-center">
      <h3 class="mt-5">
        Let's get started
      </h3>
      <p>What's your email address?</p>
    </div>

    <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
      <div class="form-group">
        <%= f.email_field :email, autofocus: true, autocomplete: "email", placeholder: 'Email Address', class: "text-center form-control" %>
      </div>

      <div class="form-group">
        <%= f.password_field :password, autocomplete: "current-password", placeholder: 'Password', class: "text-center form-control" %>

        <% if @minimum_password_length %>
          <small class="form-text text-muted"><%= @minimum_password_length %> characters minimum</small>
        <% end %>
      </div>

      <button type="submit" class="mt-5 mb-2 btn btn-block btn-outline-dark">
        Continue
        <span class="iconify ml-1 mb-1" data-icon="ion:arrow-forward" data-inline="false"></span>
      </button>

      <%= render "devise/shared/error_messages", resource: resource %>
    <% end %>
  </div>
</div>

<%= render 'shared/google-one-tap' %>
