<%= form_with model: @postcard, class: 'p-4', url: update_recipient_path(@postcard), local: true do |form| %>
  <% if @recipient.present? %>
    <small class="text-muted">
      Name
    </small>
    <p>
      <%= @recipient.name %>
    </p>

    <small class="text-muted">Address</small>
    <p>
      <%= @recipient.address_line1 %>
      <%= @recipient.address_line2 %>
    </p>

    <div class="row">
      <div class="col-md-6">
        <small class="text-muted">City</small>
        <p><%= @recipient.address_city %></p>
      </div>
      <div class="col-md-6">
        <small class="text-muted">State</small>
        <p><%= @recipient.address_state %></p>
      </div>
    </div>

    <small class="text-muted">Zip</small>
    <p><%= @recipient.address_zip %></p>

    <%= hidden_field_tag(:recipient_id, @recipient.id) %>

    <div class="form-group">
      <input type="submit" value="Next" class="btn btn-primary py-3 px-5">
    </div>

  <% else %>
    <%= form.fields_for :recipient do |recipient| %>
      <div class="form-group">
        <label>Name</label>
        <%= recipient.text_field :name, class: 'form-control' %>
      </div>
      <div class="form-group">
        <label for="inputAddress">Address</label>
        <%= recipient.text_field :address_line1, class: 'form-control' %>
      </div>
      <div class="form-group">
        <label for="inputAddress2">Address 2</label>
        <%= recipient.text_field :address_line2, class: 'form-control' %>
      </div>
      <div class="form-row">
        <div class="form-group col-md-6">
          <label for="inputCity">City</label>
          <%= recipient.text_field :address_city, class: 'form-control' %>
        </div>
        <div class="form-group col-md-4">
          <label for="inputState">State</label>
          <%= recipient.text_field :address_state, class: 'form-control' %>
        </div>
        <div class="form-group col-md-2">
          <label for="inputZip">Zip</label>
          <%= recipient.text_field :address_zip, class: 'form-control' %>
        </div>
      </div>
      <div class="form-group">
        <input type="submit" value="Next" class="btn btn-primary py-3 px-5">
      </div>
    <% end %>
  <% end %>
<% end %>
