<div class="container pt-5">
  <div class="row justify-content-center mb-5 pt-5 pb-3">
    <div class="col-md-7 heading-section text-center fadeInUp">
      <div class="text-uppercase text-primary mb-3">
        Caption
      </div>
      <h2 class="mb-4">
        Add a Caption
      </h2>
      <p class="text-muted">
        Tell Grandma why this photo is special.
      </p>
    </div>
  </div>

  <div class="row block-9">
    <div class="col-md-6">
      <div class="row mb-5">
        <%= image_tag(@postcard.photo.ig_media_url, class: 'img rounded w-100') %>
      </div>
    </div>

    <div class="col-md-6">
      <%= form_with model: @postcard, class: 'p-4', url: update_caption_path(@postcard), local: true do |f| %>
        <div class="form-group">
          <%= f.label :caption %>
          <%= f.text_area :caption, class: 'form-control caption-input', maxlength: 200, cols: 30, rows: 7, placeholder: 'Message' %>
          <div class="invalid-feedback">
            <%= @postcard.errors.full_messages.first %>
          </div>
          <small class="form-text text-muted caption-input-msg"></small>
        </div>

        <div class="form-group">
          <input type="submit" value="Next" class="btn btn-primary py-3 px-5">
        </div>
      <% end %>
    </div>
  </div>
</div>
