<% content_for :title, 'Send the Postcard' %>

<%= render 'shared/navbar' %>

<div class="fluid-container vh-100">
  <%= form_with method: :patch, url: update_payment_path(@order), class: 'p-4 p-md-5 payment-form' do |form| %>

    <%= render 'shared/mobile-nav' do %>
      <%= link_to photos_path, class: 'nav-link text-dark' do %>
        Cancel
      <% end %>

      <button type="submit" class="btn btn-dark btn-spinner btn-sm">
        Pay <%= formatted_price %>
      </button>
    <% end %>

    <div class="container skinny-container py-5">
      <p class="mb-4">
        Almost done!
      </p>

      <table class="table table-sm table-borderless w-100 mb-5">
        <tbody>
          <tr>
            <td>
              <div class="d-flex align-items-start mb-4">
                <%= image_tag(@order.photo.ig_media_url, class: 'img rounded w-60') %>
                <div class="ml-2">
                  <%= postcard_count %> x Postcard
                  <div class="text-muted">
                    <small>
                      $2.95 / postcard
                    </small>
                  </div>
                </div>
              </div>
            </td>
            <td class="text-right"><%= formatted_price %></td>
          </tr>
          <tr class="border-top mb-4">
            <td class="my-4"></td>
            <td class="my-4"></td>
          </tr>
          <tr>
            <td>Tax</td>
            <td class="text-right">$0.00</td>
          </tr>
          <tr>
            <td>
              Total
            </td>
            <td class="text-right">
              <%= formatted_price %>
            </td>
          </tr>
        </tbody>
      </table>

      <%= render 'payment-form' %>

      <button type="submit" class="d-none d-md-block mt-5 mb-2 btn btn-block btn-outline-dark btn-spinner">
        Pay <%= formatted_price %>
      </button>

      <p class="mt-5 text-muted text-center">
        <small>
          <span class="iconify" data-icon="bx:bxs-lock" data-inline="false"></span>
          Powered by <a class="text-muted" href="https://stripe.com">Stripe</a>
        </small>
      </p>
    </div>
  <% end %>
</div>
