<div class="container pt-5">
  <div class="row justify-content-center mb-5 pt-5 pb-3">
    <div class="col-md-7 heading-section text-center fadeInUp">
      <div class="text-uppercase text-primary mb-3">
        Recipient
      </div>
      <h2 class="mb-4">
        Add a Recipient
      </h2>
      <p class="text-muted">
        Tell us where you want us to send the photo.
      </p>
    </div>
  </div>

  <div class="row block-9">
    <div class="col-md-6 order-md-last">
      <div class="row contact-info mb-5">
        <%= image_tag(@postcard.photo.ig_media_url, class: 'img rounded w-100') %>
      </div>
    </div>

    <div class="col-md-6">
      <%= form_with model: @postcard, class: 'p-4', url: update_recipient_path(@postcard), local: true do |form| %>
        <%= form.fields_for :recipient do |recipient| %>
          <div class="form-group">
            <label>Name</label>
            <%= recipient.text_field :name, class: 'form-control' %>
          </div>
          <div class="form-group">
            <label for="inputAddress">Address</label>
            <%= recipient.text_field :address_line1, class: 'form-control' %>
          </div>
          <div class="form-group">
            <label for="inputAddress2">Address 2</label>
            <%= recipient.text_field :address_line2, class: 'form-control' %>
          </div>
          <div class="form-row">
            <div class="form-group col-md-6">
              <label for="inputCity">City</label>
              <%= recipient.text_field :address_city, class: 'form-control' %>
            </div>
            <div class="form-group col-md-4">
              <label for="inputState">State</label>
              <%= recipient.text_field :address_state, class: 'form-control' %>
            </div>
            <div class="form-group col-md-2">
              <label for="inputZip">Zip</label>
              <%= recipient.text_field :address_zip, class: 'form-control' %>
            </div>
          </div>
          <div class="form-group">
            <input type="submit" value="Next" class="btn btn-primary py-3 px-5">
          </div>
        <% end %>
      <% end %>
    </div>
  </div>
</div>
