<nav class="navbar navbar-expand-sm bg-light navbar-light">
  <div class="container">

    <%= link_to 'GramGram', root_path, class: 'navbar-brand' %>

    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#nav" aria-controls="nav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="nav">
      <ul class="navbar-nav nav ml-auto">
        <% if user_signed_in? %>
          <li class="nav-item">
            <%= link_to photos_path, class: 'nav-link' do %>
              <span>Photos</span>
            <% end %>
          </li>
          <li class="nav-item">
            <%= link_to postcards_path, class: 'nav-link' do %>
              <span>Sent Postcards</span>
            <% end %>
          </li>
          <li class="nav-item">
            <%= link_to destroy_user_session_path, method: :delete, class: 'nav-link' do %>
              <span>Log Out</span>
            <% end %>
          </li>
        <% else %>
          <li class="nav-item">
            <%= link_to new_user_session_path, class: 'nav-link' do %>
              <span>Log In</span>
            <% end %>
          </li>
        <% end %>
      </ul>
    </div>
  </div>
</nav>
