<div class="dropdown">
  <div class="" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    <span class="avatar rounded-circle">
      <% if @current_user.ig_avatar %>
        <%= image_tag(@current_user.ig_avatar, alt: 'Avatar') %>
      <% else %>
        <span class="iconify" data-icon="whh:profile" data-inline="false"></span>
      <% end %>
    </span>
  </div>

  <div class="dropdown-menu dropdown-menu-arrow dropdown-menu-right">
    <%= link_to 'Send a Photo', photos_path, class: 'dropdown-item' %>
    <%= link_to 'Sent Postcards', postcards_path, class: 'dropdown-item' %>
    <%= link_to 'Address Book', recipients_path, class: 'dropdown-item' %>
    <%= link_to('Sign Out', destroy_user_session_path, method: :delete, class: 'dropdown-item') %> 
  </div>
</div>
