<% content_for :title, 'Address Book' %>

<%= render 'shared/navbar' %>
<%= render 'shared/banner', title: 'Address Book', small: 'Probably a list of your grandmas' %>

<div class="fluid-container vh-100 bg-light">
  <div class="container pt-2 pt-md-4 pb-4">
    <% @recipients.map do |r| %>
      <%= link_to edit_recipient_path(r), class: 'text-reset' do %>
        <div class="card mb-2">
          <div class="card-body">
            <h5 class="card-title">
              <%= r.name %>
            </h5>
            <p class="card-text">
              <%= r.address_line1 %> <%= r.address_line2 %>
              <br/>
              <%= r.address_city %>, <%= r.address_state %> <%= r.address_zip %>
            </p>
          </div>
        </div>
      <% end %>
    <% end %>
  </div>

  <div class="bg-white shadow fixed-bottom p-4 text-center">
    <div class="container skinny-container">
      <%= link_to 'Add Recipient', new_recipient_path, class: 'btn w-100 btn-outline-dark' %>
    </div>
  </div>
</div>
