<div class="fluid-container bg-primary">
  <div class="container pt-5 pb-4">
    <div class="d-flex flow-row">
      <div class="mr-auto">
        <h2 class="mb-0">
          Address Book
        </h2>
        <small class="text-muted">
          Probably a list of your grandmas
        </small>
      </div>

      <div class="ml-auto">
        <%= render 'shared/user-dropdown' %>
      </div>
    </div>
  </div>
</div>

<div class="container vh-100 bg-light skinny-container pt-2 pb-4">
  <% @recipients.map do |r| %>

    <%= link_to edit_recipient_path(r), class: 'text-reset' do %>
      <div class="card mb-2">
        <div class="card-body">
          <h5 class="card-title">
            <%= r.name %>
          </h5>
          <p class="card-text">
            <%= r.address_line1 %> <%= r.address_line2 %>
            <br/>
            <%= r.address_city %>, <%= r.address_state %> <%= r.address_zip %>
          </p>
        </div>
      </div>
    <% end %>
  <% end %>
</div>

<div class="bg-white shadow fixed-bottom p-4 text-center">
  <%= link_to 'Add Recipient', new_recipient_path, class: 'btn w-100 btn-outline-dark' %>
</div>
