<section class="hero-wrap" style="background-image: url(<%= image_path('bg.jpg') %>); background-position: 50% 50%;" data-stellar-background-ratio="0.5">
  <div class="overlay"></div>

  <div class="container h-100">
    <div class="row h-100 no-gutters slider-text align-items-end justify-content-start">
      <div class="col-md-9 pb-4 fadeInUp">
        <h1 class="mb-3 bread">
          Recipients
        </h1>
        <p class="breadcrumbs"><span class="mr-2">
        </p>
      </div>
    </div>
  </div>
</section>

<div class="container mb-5">
  <% @recipients.map do |r| %>
    <small class="text-muted">
      Name
    </small>
    <p>
      <%= r.name %>
    </p>

    <small class="text-muted">Address</small>
    <p>
      <%= r.address_line1 %>
      <%= r.address_line2 %>
    </p>

    <div class="row">
      <div class="col-md-6">
        <small class="text-muted">City</small>
        <p><%= r.address_city %></p>
      </div>
      <div class="col-md-6">
        <small class="text-muted">State</small>
        <p><%= r.address_state %></p>
      </div>
    </div>

    <small class="text-muted">Zip</small>
    <p><%= r.address_zip %></p>
  <% end %>
</div>
