<%= render 'shared/navbar' %>

<div class="fluid-container vh-100 p-4">
  <%= form_with model: @recipient, local: true do |form| %>
    <%= render 'shared/mobile-nav' do %>
      <%= link_to recipients_path, class: 'ml-0 nav-link text-dark' do %>
        Cancel
      <% end %>

      <button type="submit" class="btn btn-dark btn-spinner btn-sm">
        Save
      </button>
    <% end %>

    <div class="container skinny-container py-5">
      <p class="mb-4">
        Where do you want us to send the&nbsp;photo?
      </p>

      <%= render 'form-fields', form: form %>

      <button type="submit" class="d-none d-md-block mt-5 mb-2 btn btn-block btn-outline-dark">
        Save
      </button>
    </div>
  <% end %>
</div>
