<section class="position-relative vh-100">
  <!-- Welcome Screen -->
  <div class="fluid-container">
    <nav class="navbar navbar-expand-sm navbar-light">
      <div class="container">

        <%= link_to 'GramGram', root_path, class: 'navbar-brand ml-auto mr-auto ml-md-0' %>

        <ul class="d-none d-md-flex navbar-nav nav ml-auto">
          <li class="nav-item">
            <%= link_to "Sign Up", new_user_registration_path, class: 'nav-link' %>
          </li>

          <li class="nav-item">
            <%= link_to "Log In", new_user_session_path, class: 'nav-link' %>
          </li>
        </ul>
      </div>
    </nav>

    <span class='blob-5'></span>
    <%= image_tag('blob-shape-4.svg', class: 'blob-4') %>

    <!-- Mobile only view -->
    <div class="absolute-bottom p-4 d-md-none">
      <div class="container skinny-container">
        <div class="mb-4">
          <h3 class="mt-5">
            Send photos to Grandma through&nbsp;the mail
          </h3>

          <p class="small">
            Share your memes, moments, and memories with your offline family. Because a picture’s worth a thousand words, but grandma’s smile is&nbsp;priceless.
          </p>
        </div>

        <button class="hero-cta-btn btn w-100 btn-outline-dark mb-4">
          Learn More
          <span class="iconify ml-1 mb-1" data-icon="ion:arrow-forward" data-inline="false"></span>
        </button>

        <p class="small text-center mb-5">
          Already have an account?
          <%= link_to "Log in", new_user_session_path, class: 'text-dark' %>
        </p>
      </div>
    </div>

    <!-- Desktop view -->
    <div class="d-none d-md-block">
      <div class="jumbotron bg-transparent">
        <div class="container">
          <div class="row align-items-center">
            <div class="col-md-8 col-lg-6 px-0">
              <h1 class="display-5 mt-5">
                Send photos to Grandma through the&nbsp;mail
              </h1>
              <p class="my-3">
                Share your memes, moments, and memories with your offline family. Because a picture’s worth a thousand words, but grandma’s smile is&nbsp;priceless.
              </p>

              <%= link_to new_user_registration_path, class: 'btn btn-outline-dark mb-4 px-4' do %>
                Get Started
                <span class="iconify ml-1 mb-1" data-icon="ion:arrow-forward" data-inline="false"></span>
              <% end %>
            </div>

            <div class="col-md-4 col-lg-6 px-0">
              <div class="phone d-none d-lg-block">
                <div id="preview" class="preview">
                  <div class="inner">
                    <div class="front">
                      <%= image_tag('postcard_front.png') %>
                    </div>

                    <div class="back">
                      <%= image_tag('postcard_back.png') %>
                    </div>
                  </div>
                </div>

                <%= image_tag('phone1.jpg', class: 'background') %>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
