<% content_for :title, 'Share Photos with your Offline Family' %>
<% content_for :meta_description, 'Mail Instagram photos to your family and friends because a picture’s worth a thousand words, but grandma’s smile is priceless.' %>

<div class="position-relative overflow-hidden">
  <!-- Welcome Screen -->
  <div class="fluid-container bg-primary vh-100">
    <nav class="navbar navbar-expand-sm bg-primary navbar-light">
      <div class="container">

        <%= link_to 'GramGram', root_path, class: 'navbar-brand ml-auto mr-auto ml-md-0' %>

        <ul class="d-none d-md-flex navbar-nav nav ml-auto">
          <li class="nav-item">
            <%= link_to "Sign Up", new_user_registration_path, class: 'nav-link' %>
          </li>

          <li class="nav-item">
            <%= link_to "Log In", new_user_session_path, class: 'nav-link' %>
          </li>
        </ul>
      </div>
    </nav>

    <span class='blob-5'></span>
    <%= image_tag('blob-shape-4.svg', class: 'blob-4') %>

    <!-- Mobile only view -->
    <div class="absolute-bottom p-4 d-md-none">
      <div class="container skinny-container">
        <div class="mb-4">
          <h3 class="mt-5">
            Send photos to Grandma through&nbsp;the mail
          </h3>

          <p class="small">
            Share your memes, moments, and memories with your offline family. Because a picture’s worth a thousand words, but grandma’s smile is&nbsp;priceless.
          </p>
        </div>

        <button class="hero-cta-btn btn w-100 btn-outline-dark mb-4">
          Learn More
          <span class="iconify ml-1 mb-1" data-icon="ion:arrow-forward" data-inline="false"></span>
        </button>

        <p class="small text-center mb-5">
          Already have an account?
          <%= link_to "Log in", new_user_session_path, class: 'text-dark' %>
        </p>
      </div>
    </div>

    <!-- Desktop view -->
    <div class="d-none d-md-block">
      <div class="jumbotron pt-8 bg-transparent">
        <div class="container my-5">
          <div class="col-md-8 col-lg-6 px-0">
            <h1 class="display-5 mt-5">
              Send photos to Grandma through the&nbsp;mail
            </h1>
            <p class="my-3">
              Share your memes, moments, and memories with your offline family. Because a picture’s worth a thousand words, but grandma’s smile is&nbsp;priceless.
            </p>

            <button class="hero-cta-btn btn px-4 btn-outline-dark mb-4">
              Learn More
              <span class="iconify ml-1 mb-1" data-icon="ion:arrow-forward" data-inline="false"></span>
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- Tutorial -->
  <div class="welcome-tutorial fluid-container bg-primary vh-100">
    <nav class="d-md-none navbar fixed-top navbar-light">
      <%= link_to new_user_registration_path, class: 'nav-link text-dark ml-auto' do %>
        Skip
      <% end %>
    </nav>

    <!-- Shapes -->
    <div class="shapes container position-relative">
      <div class="circle-1"></div>
      <div class="circle-2"></div>
      <div class="circle-3"></div>

      <div class="square-1"></div>

      <div class="line-1"></div>
      <div class="line-2"></div>

      <%= image_tag('triangle-1.svg', class: 'triangle-1') %>
    </div>

    <div class="absolute-bottom p-4 pb-md-8">
      <div class="container skinny-container pb-4">
        <div class="step">
          <div class="mb-4">
            <h3 class="mt-5">
              Choose a recent Instagram&nbsp;photo
            </h3>

            <p class="small">
              Pick an image Grandma will like and add a caption for context (or to say&nbsp;hello!)
            </p>
          </div>
        </div>

        <div class="step">
          <div class="mb-4">
            <h3 class="mt-5">
              Tell us where to mail&nbsp;it
            </h3>

            <p class="small">
              What’s Grandma’s address? We can send a GramGram anywhere in the United States for&nbsp;just $2.95.
            </p>
          </div>
        </div>

        <div class="step">
          <div class="mb-4">
            <h3 class="mt-5">
              We turn your photo into a postcard and&nbsp;deliver it
            </h3>

            <p class="small">
              Grandma opens up her mailbox to find a special surprise from you. You're officially grandkid of&nbsp;the year.
            </p>
          </div>
        </div>

        <div class="step">
          <div class="mb-4">
            <h3 class="mt-5">
              Stay Home, Stay&nbsp;Safe
            </h3>

            <p class="small">
              Now through July, all proceeds will be donated to help COVID-19 victims. Bring joy to friends and family who can't leave the house.
            </p>
          </div>
        </div>

        <div class="d-flex align-items-center pt-2 mb-5">
          <div class="bg-dark dot active"></div>
          <div class="bg-dark dot"></div>
          <div class="bg-dark dot"></div>
          <div class="bg-dark dot"></div>

          <%= link_to new_user_registration_path, class: 'float-right next-btn btn btn-dark btn-icon ml-auto mr-0' do %>
            <span class="d-none">Sign Up</span>
            <span class="iconify" data-icon="ion:arrow-forward" data-inline="false"></span>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>

<footer>
  <div class="container py-5">
    <div class="row align-items-center justify-content-xl-between">
      <div class="col-xl-6">
        <div class="copyright text-center text-xl-left text-muted">
          © <%= copyright_year() %> <%= company_name() %>
        </div>
      </div>
      <div class="col-xl-6">
        <ul class="nav nav-footer justify-content-center justify-content-xl-end">
          <li class="nav-item">
            <%= link_to "Terms and Conditions", terms_path, class: 'nav-link', target: '_blank' %>
          </li>
          <li class="nav-item">
            <%= link_to "Privacy Policy", privacy_path, class: 'nav-link', target: '_blank' %>
          </li>
          <li class="nav-item">
            <a href="https://github.com/edance/gram-gram" class="nav-link" target="_blank">
              Source Code
            </a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</footer>
