<% content_for :title, 'Postcards' %>

<%= render 'shared/navbar' %>

<%= render 'shared/mobile-nav' do %>
  <%= link_to orders_path, class: 'nav-link text-dark pl-0' do %>
    <span class="iconify" data-icon="ion:arrow-back" data-inline="false"></span>
  <% end %>
<% end %>

<div class="container skinny-container my-5 mt-md-2">
  <div class="row py-4">
    <div class="col-12">
      <%= render 'shared/postcard-preview', order: @order %>
    </div>
  </div>

  <div class="row">
    <div class="col-12">
      <h4 class="">Caption</h4>
      <p class="mb-5">
        <%= @order.caption %>
      </p>
    </div>

    <div class="col-12">
      <h4 class="mb-4">Recipients</h4>

      <div class="row">
      <% @order.postcard_receipts.each do |r| %>
        <div class="col-12 col-md-6 mb-4">
          <h5 class="mb-0">
            <%= r.address_name %>
          </h5>

          <p class="text-muted mb-0">
            <%= r.address_line1 %> <%= r.address_line2 %>
            <br/>
            <%= r.address_city %>, <%= r.address_state %> <%= r.address_zip %>
          </p>

          <span class="badge <%= badge_color(r) %>">
            <%= r.status.humanize %>
          </span>
        </div>
      <% end %>
      </div>
    </div>
  </div>
</div>
