<% content_for :title, 'Sign In' %>
<% content_for :meta_description, 'Welcome back to GramGram. Please sign in and find a good photo for Grandma.' %>

<div class="fluid-container bg-primary vh-100">
  <!-- Header nav with back button -->
  <nav class="navbar fixed-top navbar-light">
    <a class="navbar-brand" href="/">
      <span class="iconify" data-icon="ion:arrow-back" data-inline="false"></span>
    </a>
  </nav>

  <div class="container skinny-container">
    <div class="py-5 text-center">
      <h3 class="mt-5">
        Welcome back
      </h3>
      <p>Happy to see you!</p>
    </div>

    <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
      <div class="form-group">
        <%= f.email_field :email, autofocus: true, autocomplete: "email", placeholder: 'Email Address', class: "text-center form-control" %>
      </div>

      <div class="form-group">
        <%= f.password_field :password, autocomplete: "current-password", placeholder: 'Password', class: "text-center form-control" %>
      </div>

      <% if devise_mapping.rememberable? %>
        <div class="form-group form-check">
          <%= f.check_box :remember_me, class: "form-check-input" %>
          <%= f.label :remember_me, class: "form-check-label" %>
        </div>
      <% end %>

      <button type="submit" class="mt-5 mb-2 btn-spinner btn btn-block btn-outline-dark">
        Sign In
        <span class="iconify ml-1 mb-1" data-icon="ion:arrow-forward" data-inline="false"></span>
      </button>

      <%= render "devise/shared/links" %>

      <%= render "devise/shared/error_messages", resource: resource %>
    <% end %>
  </div>
</div>

<%= render 'shared/google-one-tap' %>
