<div class="fluid-container bg-primary">
  <div class="container pt-5 pb-4">
    <div class="d-flex flow-row">
      <div class="mr-auto">
        <h2 class="mb-0">Photos</h2>
        <small class="text-muted">
          Select an image to get started
        </small>
      </div>


      <div class="ml-auto">
        <img src="..." alt="Avatar for user" class="rounded-circle">
      </div>
    </div>
  </div>
</div>

<div class="container mb-5">
  <div class="row">
    <div class="col py-4">
    <% if current_user.instagram? %>
      <%= link_to 'Load Recent Images', authentication_path('instagram'), class: 'btn btn-primary' %>
    <% else %>
      <%= link_to 'Connect to Instagram', authentication_path('instagram'), class: 'btn btn-primary' %>
    <% end %>
    </div>
  </div>

  <div class="row">
    <div class="col-lg-9 pr-lg-4">
      <% if @photos.empty? && current_user.instagram? %>
        <p class="text-muted">We couldn't find any photos in your instagram profile.</p>
      <% end %>

      <% if @photos.empty? && !current_user.instagram? %>
        <p class="text-muted">Connect your instagram above to load your photos.</p>
      <% end %>

      <div class="row">
        <% @photos.each do |p| %>
          <div class="col-md-6 col-lg-4 fadeInUp">
            <div class="overflow-hidden rounded">
              <%= link_to(build_new_path(p), class: 'd-block') do %>
                <%= image_tag(p.ig_media_url, class: 'img-fluid img-zoom') %>
              <% end %>
            </div>

            <div class="text-muted text-uppercase py-4 mb-2">
              <% if new?(p) %>
                <span class="badge badge-secondary">New</span>
              <% end %>

              <small>
                <%= time_ago_in_words(p.ig_timestamp) %>
              </small>
            </div>
          </div>
        <% end %>
      </div>


      <div class="row mt-5">
        <div class="col text-center">
          <div class="pagination">
            <%= will_paginate @photos %>
          </div>
        </div>
      </div>
    </div> <!-- end -->
  </div>
</div>
