<header class="p-2 headerbar">
  <div class="container d-flex ">
    <div role="button" on="tap:sidebar1.toggle" tabindex="0" class="hamburger mr-2">☰</div>

    <a href="/" class="navbar-brand">
      GramGram
    </a>
  </div>
</header>

<amp-sidebar id="sidebar1" class="sidebar w-100 p-2" layout="nodisplay" side="left">
  <div role="button" aria-label="close sidebar" on="tap:sidebar1.toggle" tabindex="0" class="close-sidebar">✕</div>

  <a href="/" class="navbar-brand mx-auto">
    GramGram
  </a>

  <ul class="navbar-nav nav">
    <li class="nav-item pb-1">
      <%= link_to "Sign Up", new_user_registration_path, class: 'nav-link' %>
    </li>

    <li class="nav-item pb-1">
      <%= link_to "Log In", new_user_session_path, class: 'nav-link' %>
    </li>
  </ul>
</amp-sidebar>

<main class="mx-auto p-2" role="main">
  <div class="text-center">
    <p class="text-muted mb-0">
      <%= author_and_published %>
    </p>
    <h1 class="mt-0">
      <%= title %>
    </h1>
  </div>

  <%= raw(body) %>


  <% if @next_post.present? %>
    <div class="text-center p-2">
      <h3 class="text-muted mb-0">
        Next Article
      </h3>

      <a href="<%= @next_post.slug %>"><%= @next_post.title %></a>
    </div>
  <% end %>
</main>
