<% content_for :title, 'Sent Postcards' %>

<%= render 'shared/navbar' %>
<%= render 'shared/banner', title: 'Postcards', small: 'Sent postcards to your grandma' %>

<div class="container mt-md-2 mb-5">
  <% if @postcards.empty? %>
    <p class="mt-4 text-muted">
      Looks like you haven't created a postcard yet!
    </p>
  <% end %>

  <% @postcards.each do |p| %>
    <div class="row py-4">
      <div class="col-12 col-md-4 mb-4">
        <%= render 'shared/postcard-preview', postcard: p %>
      </div>

      <div class="col-12 col-md-8">
        <div class="address">
          <h5>Sent to:</h5>

          <p>
            <%= p.address_name %>
            <br/>
            <%= p.address_line1 %> <%= p.address_line2 %>
            <br/>
            <%= p.address_city %>, <%= p.address_state %> <%= p.address_zip %>
          </p>

          <div class="row">
            <div class="col">
              <small class="text-muted">Status</small>
              <p><%= p.status.humanize %></p>
            </div>
            <div class="col">
              <small class="text-muted">Created</small>
              <p>
                <%= time_ago_in_words(p.created_at) %> ago
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  <% end %>

  <div class="row mt-5">
    <div class="col text-center">
      <div class="pagination">
        <%= will_paginate @postcards %>
      </div>
    </div>
  </div>
</div>
