<div class="fluid-container bg-primary">
  <div class="container pt-5 pb-4">
    <div class="d-flex flow-row">
      <div class="mr-auto">
        <h2 class="mb-0">Postcards</h2>
        <small class="text-muted">
          Sent postcards to your grandma
        </small>
      </div>

      <div class="ml-auto">
        <%= render 'shared/user-dropdown' %>
      </div>
    </div>
  </div>
</div>

<div class="container mb-5">
  <% if @postcards.empty? %>
    <p>Looks like you haven't created a postcard yet!</p>
  <% end %>

  <% @postcards.each do |p| %>
    <div class="row py-4">
      <div class="col-12">
        <div class="mx-auto postcard-sm shadow rounded tilt-left">
          <img alt="" src="<%= p.photo_url %>" />

          <div class="date">
            <%= p.month_year %>
          </div>

          <div class="caption">
            <%= p.caption %>
          </div>
        </div>
      </div>
      <div class="col-12">
        <div class="address mt-4">
          <h5>Sent to:</h5>

          <p>
            <%= p.recipient.name %>
            <br/>
            <%= p.recipient.single_line_address %>
          </p>

          <div class="row">
            <div class="col">
              <small class="text-muted">Status</small>
              <p><%= p.status.humanize %></p>
            </div>
            <div class="col">
              <small class="text-muted">Created</small>
              <p>
                <%= time_ago_in_words(p.created_at) %> ago
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  <% end %>

  <div class="row mt-5">
    <div class="col text-center">
      <div class="pagination">
        <%= will_paginate @postcards %>
      </div>
    </div>
  </div>
</div>
