<!DOCTYPE html>
<html>
  <%= render 'shared/head' %>

  <body>
    <%= render 'shared/navbar' %>

    <% if flash[:notice] %>
      <div class="alert alert-primary" role="alert">
        <%= flash[:notice] %>
      </div>
    <% end %>

    <%= yield %>

    <%= render 'shared/loading-bar' %>
  </body>
</html>
