<!DOCTYPE html>
<html>
  <%= render 'shared/head' %>

  <body>
    <%= render 'shared/navbar' %>

    <%= render 'shared/flash' %>

    <%= yield %>

    <%= render 'shared/loading-bar' %>

    <%= render 'shared/footer' %>
  </body>
</html>
