<!DOCTYPE html>
<html>
  <head>
    <title>GramGram</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <script>
      window.STRIPE_PUBLISHABLE_KEY = '<%= ENV['STRIPE_PUBLISHABLE_KEY'] %>';
    </script>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <% if flash[:notice] %>
      <div class="notice"><%= flash[:notice] %></div>
    <% end %>

    <%= yield %>
  </body>
</html>
